:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-seconday: #141418;
    --transition-speed: 600ms;
    --bg-body: #ffffff;
}


* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    background-color: var(--bg-body);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0.126rem;
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 50;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

nav ul a {
    padding: 0 !important;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

/*.navbar:hover .link-text {
    display: block;
}*/

.fa-primary {
    color: #ff7eee;
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-seconday);
    color: var(--text-secondary);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-seconday);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo svg {
    transform: rotate(0deg);
    transition:  transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.card_container {
    display: flex;
    height: auto;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.row .col.m4 {
    width: 100% !important;
}

.row {
    width: 18%;
    height: auto;
}

body .formInput input.inputForm {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    border-radius: 7px;
    margin: 2%;
    outline: none;
    border: 2px solid var(--text-secondary);
    padding: 1%;
    background: none;
    color: var(--text-secondary)
}

.custom-file-input {
    color: transparent;
}

.custom-file-input::before {
    content: 'Selectionne une photo';
    color: black;
    display: inline-block;
    background: white;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}


@media screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

@media screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

}